.flex-container {
    background-color: gray;
    height: 100px;
    width: 50%;
    border: 2px solid black;
    display: flex;
}

.flex-container div{
    background-color: white;
    border: 2px solid black;
    flex: 1;
    margin: 10px;
    text-align: center;
}

.flex-container-2 {
    background-color: gray;
    height: 100px;
    width: 50%;
    border: 2px solid black;
    display: flex;
}

.flex-container-2 div{
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

.one {
    flex: 1;
}

.two {
    flex: 2;
}

.three {
    flex: 3;
}

.flex-container-3 {
    display: flex;
    background-color: gray;
    width: 75%;
    height: 100px;
}

.flex-container-3 div {
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    flex: 1;
    width: 300px;
}

#shrink-zero {
    flex: 1 0 auto;
}

#shrink-one {
    flex: 1 2 auto;
}

#shrink-two {
    flex: 1 4 auto;
}